:root {
  --header-height: 64px;
}

.App {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* msercan*/

* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

img {
  pointer-events: none;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.outer {
  position: absolute;
  transform: translate(0%, 0%) rotate(0deg);
  transform-origin: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  color: purple;
  font-size: 24px;
}

.outer .header {
  font-size: 26px;
  font-family: "Courgette", cursive;
  font-size: 35px;
  color: #907b83;
}

.outer .text {
  font-size: 16px;
  padding: 5px;
  font-family: system-ui;
  font-size: 21px;
  color: #8d6d1f;
}

.home .savings {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-flow: wrap;
  /* margin-bottom: 50px; */
  padding-top: 50px;
  padding-bottom: 50px;
}
.savings .item-container {
  position: relative;
  padding: 10px 25px 10px 25px;
  margin: 30px;
  border: 2px solid #0177a90f;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-bottom: 75px;
}

.savings .item-container .title {
  margin-top: 0px;
  position: absolute;
  left: 0px;
  bottom: -33px;
  width: 100%;
  padding-left: 3px;
  padding-bottom: 3px;
  align-items: center;
  font-size: 15px;
  color: #585858;
  text-align: center;
}

.savings .item-container .preview {
  color: red;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

select {
  cursor: pointer;
}

.disabled {
  background-color: #ebecf0;
  cursor: not-allowed;
}

.spinner-container {
  width: 100%;
  height: 100%;
  background-color: #bdbdbd6e;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body > .spinner-container {
  position: absolute;
}

/* button {
  cursor: pointer !important;
}
button:hover {
  cursor: pointer !important;
} */

/*Designer Component*/

.designer-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  padding-left: 2rem;
  gap: 1rem;
  min-height: var(--header-height);
  max-height: var(--header-height);
  background-color: var(--bs-dark);
  color: var(--bs-light);
  border-bottom: 1px solid #f8f9fa0a;
}

.header > h2 {
  color: #0e141b;
  font-size: large;
  font-weight: bold;
}

.header > .header-right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
  justify-content: flex-end;
  align-items: center;
}

.header .create-new-button {
  background-color: #0177a9;
  padding: 8px 15px 8px 15px;
  border-radius: 18px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
}
.header .create-new-button:hover {
  background-color: #118ac3;
}

.designer-body {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  justify-items: center;
  flex-direction: row;
  align-items: flex-start;
  height: calc(100% - var(--header-height));
  max-height: calc(100% - var(--header-height));
  min-height: calc(100% - var(--header-height));
}

.component-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
  /* padding: 10px; */
}

.side-left {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.side-container {
  max-width: 360px;
  background-color: var(--bs-dark);
  border-left: 1px solid #f8f9fa0a;
  animation: expandWidth 0.5s forwards;
  color: var(--bs-light);
  overflow: auto;
  position: relative;
  font-size: 13px;
  font-weight: 600;
  padding: 30px;
  padding-top: 40px;
}

.side-container > * input,
.side-container > * select {
  font-size: 13px;
  font-weight: 600;
}

.side-container > * h6 {
  font-size: 14px;
  font-weight: 600;
}

@keyframes expandWidth {
  from {
    width: 0;
  }
  to {
    width: 360px;
  }
}

.side-menu {
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 100px;
  height: 100%;
  display: flex;
  padding-top: 30px;
  font-size: 15px;
  box-shadow: 0px 20px 13px 0px #b2adad8f;
  background-color: var(--bs-dark);
  color: var(--bs-light);
}

.menu-item {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  width: 100%;
  max-height: 100px;
  padding: 30px 30px 30px 30px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-items: flex-start;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #e8edf333;
}

.menu-item:hover .label {
  visibility: visible;
  height: auto;
  opacity: 1; /* Hover durumunda yazı görünür */
  transform: translateY(0); /* Hover durumunda yazı yukarıya hareket eder */
}

.menu-item > .label {
  width: 100%;
  text-align: center;
  visibility: hidden;
  height: 0px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-item > svg {
  transition: opacity 0.3s ease;
}

.menu-item.selected {
  background-color: #e8edf333;
}

.menu-item.selected > .label {
  visibility: visible;
  height: auto;
  opacity: 1;
  transform: translateY(0);
}

.menu-item > .con {
  align-items: center;
  display: flex;
  justify-items: center;
}

/*input--*/
.input-container {
  position: relative;
  width: 100%;
  /* max-width: 400px; */
  margin: 0 auto;
}

.input-container input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  box-sizing: border-box;
}

.input-container .icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  pointer-events: none;
}

/*Upload.js*/
.upload-image-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 10px;
}

/*UploadImage.js*/

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-file-body {
  width: 100%;
  height: 90%;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  border: 2px dashed #a5a1a1;
  border-radius: 8px;
  font-weight: 500;
}

.upload-file-body:hover {
  /* box-shadow: 0px 0px 30px 5px #9d9d9d;
  border: 2px dashed #00b35c; */
  background-color: #e2e2e2;
}

.upload-file-body:hover svg {
  color: rgb(186, 186, 186) !important;
}

.file-input-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.file-input-wrapper input[type="file"] {
  display: none;
}

.file-input-button {
  display: inline-block;
  padding: 5px 22px;
  background-color: #00b35c;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.file-input-button:hover {
  background-color: #029c52;
}

/*TextColMatcher.js*/
/*TextColMatcher*/
.matcher {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  justify-items: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
  color: var(--bs-gray-400);
}

.matcher .container {
  border: 1px solid #d3d3d32b;
  border-radius: 5px;
  height: fit-content;
  padding: 20px;
}

.matcher .container > * .col-5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.matcher > * .row {
  align-items: center;
}

.form-select {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.close-button {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #ffffff0d;
  border-radius: 3px;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}
.close-button:hover {
  background-color: #ffffff26;
}
