html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  overflow: hidden;
}

@media print {
  body {
    overflow: auto;
    height: fit-content;
    display: block;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  body > * {
    overflow: hidden;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  .header,
  .side-menu,
  .component-container,
  .print-settings,
  .close-button,
  .app-custom-button {
    display: none !important;
  }

  .side-left,
  .side-container,
  .preview-container {
    width: 100% !important;
    height: auto !important;
    min-width: 100% !important;
    background-color: transparent !important;
    padding: 0px !important;
    margin: 0px !important;

    page-break-inside: avoid !important;
    break-inside: avoid !important;
    overflow: hidden !important;
  }

  .preview-container {
    justify-content: flex-start !important;
    height: fit-content !important;
    overflow: hidden !important;
  }

  .print-preview {
    display: block !important;
  }

  .pageContent,
  img {
    page-break-inside: avoid !important;
    break-inside: avoid !important;
  }

  @page {
    margin: 0;
    padding: 0;
  }
}
