.home {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: #525252;
  gap: 2rem;
}

.home-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  font-weight: 200;
  font-size: 18px;
  margin-top: 5rem;
}

.home-header > h1 {
  font-size: 75px;
  font-weight: 300;
}

.home-header > p {
  font-size: 35px;
  font-weight: 300;
}

.home .home-content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
