.edit input.form-control {
  width: 150px;
}

.edit button.form-control {
  width: 150px;
}

.edit {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.pageContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  scroll-behavior: smooth;
  background-color: var(--bs-light);
}

.pageSubContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  position: absolute;
  padding: 50px;
}

.pageContent {
  position: relative;
  display: flex;
}

.pageContent .img-info {
  position: absolute;
  bottom: -20px;
  right: 0px;
  font-size: 11px;
  font-family: monospace;
  color: darkgray;
}

.pageContent .hovered {
  outline: purple solid 2px !important;
}

.page-buttons-container {
  position: absolute;
  right: -40px;
  top: 0px;
  z-index: 101;
}

.page-buttons-container > * {
  margin-bottom: 10px;
  width: 32px;
  height: 32px;
}

.add-text-button {
  background-color: #dddddd45;
  padding: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  color: #838383;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 2px #644c4c29;
  cursor: pointer;
}

.add-text-button:hover {
  background-color: #d635b5;
  color: white;
}

.remove-text-button {
  background-color: #dddddd45;
  padding: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  color: #838383;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 2px #644c4c29;
  cursor: pointer;
}

.remove-text-button:hover {
  background-color: #f03333;
  color: white;
}

.save-continue-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.data-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  gap: 15px;
}

.data-container .app-custom-button {
  width: 100%;
  height: auto;
  padding: 8px;
  background-color: #80808045;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
}

.data-container .app-custom-button:hover {
  background-color: #c2c0c06e;
}

.edit-footer {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 50px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  background-color: var(--bs-gray-300);
}
input.form-range {
  width: 400px;
}

/*scroll-bar*/
/* Scrollbar'ın genel stilini ayarlamak */
.pageContainer::-webkit-scrollbar {
  background-color: transparent;
  width: 9px;
  height: 9px;
  margin-right: 10px !important;
}

/* Scrollbar'ın "thumb" kısmını ayarlamak */
.pageContainer::-webkit-scrollbar-thumb {
  background-color: rgb(150, 150, 200);
  border-radius: 10px;
}

/* Scrollbar'ın "thumb" kısmının hover durumunu ayarlamak */
.pageContainer::-webkit-scrollbar-thumb:hover {
  background-color: rgb(79, 79, 173);
}

/* Scrollbar'ın "track" kısmını ayarlamak */
.pageContainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.pageContainer::-webkit-scrollbar-track:hover {
  background-color: rgba(52, 52, 52, 0.247);
}
/*scroll-bar*/

.custom-icon-button {
  padding: 6px;
  cursor: pointer;
  border-radius: 8px;
  line-height: 0;
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: #ffffff1d;
}

.custom-icon-button:hover {
  color: #34ffd9;
  background-color: #474747;
}
