.preview-container {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;

  /* padding-top: 20px;
  margin-bottom: 20px; */
}

.preview-container > .pageContent {
  display: flex;
  position: relative !important;
}
