.ribbon {
  width: 100%;
  height: 50px;
  display: flex;
  justify-items: center;
  justify-content: start;
  align-items: center;
  align-content: center;
  flex-direction: row;
  gap: 0.5rem;
  background-color: #e6e6e6;
}

.ribbon > * {
  margin-left: 9px;
}

input.form-control {
  width: 150px;
}

button.form-control {
  width: 150px;
}

.edit {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.pageContent {
  position: absolute;
  display: flex;
}

.pageContent .img-info {
  position: absolute;
  bottom: -20px;
  right: 0px;
  font-size: 11px;
  font-family: monospace;
  color: darkgray;
}

.ribbon {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.page-buttons-container {
  position: absolute;
  right: -40px;
  top: 0px;
  z-index: 99999;
}

.page-buttons-container > * {
  margin-bottom: 10px;
  width: 32px;
  height: 32px;
}

.add-text-button {
  background-color: #dddddd45;
  padding: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  color: #838383;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 2px #644c4c29;
}

.add-text-button:hover {
  background-color: #d635b5;
  color: white;
  cursor: pointer;
}

.remove-text-button {
  background-color: #dddddd45;
  padding: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  color: #838383;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 2px #644c4c29;
}

.remove-text-button:hover {
  background-color: #f03333;
  color: white;
  cursor: pointer;
}

.save-continue-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.paste-field {
  width: 100%;
  height: 150px;
  background-color: #b6b4b4;
  color: #fffefe;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.paste-body {
  padding: 10px;
  width: 100%;
  height: 100%;
  position: relative;
}

.paste-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #80808063;
  outline: 2px dashed #0000005e;
}

.paste-container:hover {
  outline: 2px solid #80808000;
  color: grey;
  box-shadow: 0px 5px 12px 10px #80808040;
  outline-style: solid;
}

.data-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: end;
  padding: 20px;
  gap: 15px;
}

/*TextColMatcher*/
.matcher {
  width: 400px !important;
  /* background-color: gray; */
  display: flex;
  margin-left: 20px;
}

.matcher > * select {
  width: 130px;
}

.matcher .container {
  border: 1px solid lightgray;
  border-radius: 5px;
  height: fit-content;
  padding: 20px;
}

.matcher > * .row {
  align-items: center;
}

.hovered {
  outline: purple solid 2px !important;
}

.edit-footer {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 50px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  background-color: var(--bs-gray-300);
}
input.form-range {
  width: 400px;
}
