body{
    -webkit-print-color-adjust: exact;
}
.mainDiv {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .div1 {
    width: auto;
    height: auto;
    padding: 7px;
    position: relative;   
    font-family: system-ui;
  }

  .div2 {
    /*background-color: yellow;*/
    width: 250px;
    position: relative;     
  }

  /*.invitedName {
    font-size: 20px;
    margin-top: -147px;
    margin-left: -49px;
    transform: rotate(90deg);
    
      
    /*transform: rotate(90deg);
      float: left;
    background-color: green;
    width: 40px;
    height: 300px;
  }*/


.mainTextView{
        position: absolute;
    top: 0px;
    transform: rotate(90deg);
    margin-left: -103px;
    margin-top: 59px;
    width: 315px;
}

.message{
      width: 373px;
    height: 71px;
    float: left;
    text-align: center;
    font-size: 35px;
    font-family: 'Courgette', cursive;
    color: #907b83;
    /* background-color: green;*/
}
.name{
   width: 373px;
    height: 148px;
    float: left;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 17px;
    color: #8d6d1f;
    text-transform: uppercase;
    /* background-color: red; */
    font-size: 21px;
}


.dot{
       height: 15px;
    width: 15px;
    background-color: #e1d8c3;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 28px;
    top: 20px;
  }

.num {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 6px;
    color: #86767b8c;
    transform: rotate(270deg);
    width: 1px;
    font-weight: 500;
    font-family: inherit;
}
