.custom-button {
  width: 28px;
  height: 28px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-button > .letter {
  color: black;
  font-size: smaller;
  font-family: sans-serif;
}

.custom-button > .color {
  width: 17px;
  height: 5px;
  border-radius: 7px;
}

.custom-button:not(.disabled):hover {
  background-color: #ebecf0;
  cursor: pointer;
}

.sketch-picker {
  z-index: 999999;
}