.alignment {
  border-radius: 5px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  font-size: medium;
}



.alignment:not(.disabled):hover {
  background-color: #ebecf0;
  cursor: pointer;
}
