<div style="
    background-color: yellow;
    position: relative;
    display: flex;
    width: 250px;
">
    <img width="250px" src="https://r.resimlink.com/u-A1rvJDjhe.png" class="img-fluid" alt="">

    <div style="
    width: 100px;
    height: 40px;
    background-color: darkseagreen;
    transform: translate(0px, 0px);
    position: absolute;
">Murat sercan</div>

    <div style="
    width: 100px;
    height: 40px;
    background-color: darkseagreen;
    transform: translate(0px, 150px);
    position: absolute;
">Selam</div>
</div>